<%- include('../includes/head.ejs') %>
<div class="jumbotron text-center">
    <h1 class="display-3"><%= viewTitle%></h1>
    <hr>
    <p>
        Your Account Dont have sufficient money. <br>
        Your Available Balance :  <strong><%= amountleft  %></strong><br>
        Please Deposit money to your account<br>
    </p>
    <p class="lead">
        <a class="btn btn-primary btn-sm" href="/" role="button">Continue to homepage</a>
    </p>
</div>
<%- include('../includes/head.ejs') %>
